@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary: rgba(255, 255, 255);
    --secondary: rgba(167, 167, 183);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Montserrat", sans-serif;
}

/* * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
   */

  /* Chrome, Edge, and Safari */
  /* *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 20px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 20px;
    width: 5px;
    border: 1px solid var(--primary);
  }
 */


 .slick-slide>div {
  margin: 0 10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
